body {
  font-family: sans-serif;
  background: #e3e3e3;
}

h1 {
  border-bottom: 1px solid #e3e3e3;
}

div.main {
  background: #ffffff;
  max-width: 870px;
  padding: 20px;
  margin: auto;
}

div.apt {
  margin-top: 30px;
  page-break-inside: avoid;
}

div.apt-people {
  display: flex;
  flex-wrap: wrap;
}

div.person {
  margin: 0 20px;
}

div.person p {
  text-align: center;
}

div.person .photoContainer {
  width: 250px;
  height: 214px;
}

div.person .photoContainer img {
  width: 250px;
}